.picClass {
    width: 200px;
    margin: 10px;
    border-style: solid;
    border-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.toggleClass {
    opacity: .5;

}

.newPic {
    position: relative;
    text-align: center;
    display: block;
}

.showDesc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.App {
    background-color: pink;
}
