.picClass {
    width: 300px;
    margin: 10px;

}

.toggleClass {
    opacity: .5;

}

.newPic {
    position: relative;
    text-align: center;
    display: block;
}

.showDesc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
